{% extends "base.html" %}

{% block page_content %}
    <div class="rounded_corners game_title">
        <h1>Heaven's Tournament</h1>
    </div>
    <div class="rounded_corners side_tab release_date">
        <h4>Coming January 7th</h4>
    </div>
    <div class="rounded_corners side_tab about">
        <h4>What Is This?</h4>
    </div>
    <div class="rounded_corners game_description">
        <p>Heaven's Tournament is a real time monster fighting game. Come battle your friends, time your attacks, and earn the favor of the gods.</p>
    </div>
    <div class="email_div">
        {% block form_content %}
        <form class="form-inline" method="POST" action="">
            {% csrf_token %}
            <div class="form-group inline_hack">
                <label class="sr-only" for="exampleInputEmail2">Email address</label>
                <input type="email" name="email" class="form-control" id="exampleInputEmail2" placeholder="Enter email">
            </div>
            <input type="submit" class="btn btn-default" value="Stay Updated" />
        </form>
        {% endblock %}
    </div>

    <script>
    $(function() {

        var init_hover_effect = false;

        // run the currently selected effect
        function show_game_description() {
            
            //Check if visible         
            if ( $(".game_description").css("left") === "0px" ) {

                $(".game_description").animate({ "left": "-=450px" }, 1000);
            }
            else {
            
                $(".game_description").animate({ "left": "+=450px" }, 1000);
            }
        }

        function on_hover_in() {

            $(this).animate({"left": "+=250px"}, 1000);
        }

        function on_hover_out() {

            $(this).animate({"left": "-=250px"}, 1000);
        }

        $(".about").click(show_game_description);

        $(".game_description").animate({ "left": "-=450px" }, 0);
        $(".release_date").animate({ "left": "-=300px" }, 0);
        $(".about").animate({ "left": "-=300px" }, 0);

        $( ".release_date" ).animate({ "left": "+=300px" }, 2500, function() {

            $( ".about" ).animate({ "left": "+=300px" }, 2500, function() {

                //close all
                $(".side_tab").animate({"left": "-=250px"}, 1000, function() {

                    if (!init_hover_effect) {

                        $(".side_tab").hover(on_hover_in, on_hover_out);
                        init_hover_effect = true;
                    }
                });
            });                    
        });

    });
    </script>
{% endblock %}